<div class="center jumbotron">
  <h1><%= t ".subtitle1" %></h1>
  <h2>
    <%= t ".subtitle2" %>
    <%= link_to t(".tutorial"), Settings.rails_home_link %>
    <%= t ".other_text" %>
  </h2>
  <%= link_to t(".sign_up"), new_user_path, class: "btn btn-lg btn-primary" %>
</div>
